{% extends 'base.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
    <h1>Author index</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">LastName</th>
                <th scope="col">PhoneNumber</th>
                <th scope="col">Address</th>
                <th scope="col">Country</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td scope="row">{{ author.id }}</td>
                <td scope="row">{{ author.name }}</td>
                <td scope="row">{{ author.lastName }}</td>
                <td scope="row">{{ author.phoneNumber }}</td>
                <td scope="row">{{ author.address }}</td>
                <td scope="row">{{ author.country|country_name }}</td>
                <td scope="row">
                    <a class="btn btn-sm btn-outline-primary" href="{{ path('author_show', {'id': author.id}) }}">Show</a>
                    {% if is_granted('ROLE_USER') %}
                    <a class="btn btn-sm btn-outline-primary" href="{{ path('author_edit', {'id': author.id}) }}">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_USER') %}
    <a type="button" class="btn btn-primary" href="{{ path('author_new') }}">Create new</a>
    {% endif %}
{% endblock %}
