{% extends 'base.html.twig' %}

{% block title %}Author{% endblock %}

{% block body %}
    <h1>Author</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ author.name }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ author.lastName }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ author.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ author.address }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ author.country|country_name }}</td>
            </tr>
        </tbody>
    </table>

    <a type="button" class="btn btn-primary" href="{{ path('author_index') }}">Back to list</a>
    {% if is_granted('ROLE_USER') %}
    <a type="button" class="btn btn-primary" href="{{ path('author_edit', {'id': author.id}) }}">Edit</a>

    {{ include('author/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
